<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shenfeng.yxw.elasticjob.dao.allOrder.AllOrderMapper">
  <resultMap id="BaseResultMap" type="com.shenfeng.yxw.elasticjob.domain.entity.allOrder.AllOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="third_order_id" jdbcType="INTEGER" property="thirdOrderId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="total_amount" jdbcType="DECIMAL" property="totalAmount" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>